body {
    background-image:url("tigerface.jpg");
    background-position: center;
    font-family:Tahoma;
    
}
.header {
    display:inline;
	padding:.25em;
    font-size:4em;
    font-family:Tahoma;
}
a:hover {
    color:orangered;
}
a {
    color:#d67022;
    text-decoration:none;
}